<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Product Inventory Application</title>
</head>
<body>
    <div id="introduction">
        PRODUCT INVENTORY MANAGEMENT SYSTEM
    </div>
    <div id="navs">
        <div id="all-products">
            <h1>See all products</h1>
            <button id="all-products-btn">Go</button>
        </div>

        <div id="all-categories">
            <h1>See all categories</h1>
            <button id="all-categories-btn">Go</button>
        </div>
    </div>

    <script src="/js/script.js"></script>
</body>
</html>