*{
    padding: 0;
    margin: 0;
}

header{
    background-color: black;
    color: white;
}

body{
    background-color: #5c6b73;
}

#products-section{
    display: flex;
    flex-wrap: wrap;
    max-width: min-content;
    
}

#product{
    border: 1px solid black;
    border-radius: 10px;
    padding: 3vmin 2vmin;
    background-color: #dcdcdd;
}

#product img{
    max-width: 30vmin;
}